 body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        to right top,
        #051937,
        #004d7a,
        #008793,
        #00bf72,
        #a8eb12
    );

    display: flex;
    justify-content: center;
    align-items: center;
   }
   section{
    margin-left: 70px;
   }
   .copyCode{
    width: 200px;
    height: 100px;
    padding: 10px;
    border-left: 2px solid white;
    text-align: center;
    background-color: #f0e9e90f;
    font-size: 16px;
   }
   .copyCode:hover{
    border-radius: 14px;
    font-size: 20px;
    font-weight: lighter;
}
   #myButton1{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: greenyellow;
    cursor: pointer;
   }

   #myButton2{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(47, 255, 248);
    cursor: pointer;

   }
   @media (max-width: 768px) {
    section{
        margin-left: 0px;
       }

}
